/* Common Rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
}
html {
  font-size: 17px;
}
button:focus {
  outline-style: none;
}
body {
  overflow-x: hidden;
  letter-spacing: 0.5px;
  font-weight: 100;
}
.bg-danger {
  background: #ff0000 !important;
}
.container-wrap {
  width: 80%;
  margin: 0 auto !important;
}
p {
  margin: 0 !important;
}
/* Header Section */

header {
  font-size: 11px;
}
.navbar {
  border-bottom: 0.01em solid #858585;
}

.nav-link:hover {
  color: #ff2d2d !important;
}

/*Carousal*/
.number-txt {
  position: relative;
  top: -9px;
  right: 5px;
}
.carousel-item {
  height: 100vh !important;
}
.carousal-img {
  width: 100%;
  height: 100vh;
}
.carousel-caption {
  top: 32% !important;
}

.size-t1 {
  font-size: 250%;
  font-weight: 600;
  text-transform: uppercase;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 9px !important;
  height: 15px !important;
}

.size-t4 {
  font-size: 70%;
}

.learn-more {
  font-size: 50%;
  padding: 8px;
  font-weight: 600;
  margin-top: 22px;
  background: #ff2d2d;
  color: #ffff;
  border: 2px solid #ff2d2d;
  width: 100px;
  border-radius: 20px;
  text-transform: uppercase;
}

.bg-nav {
  background: #4d4d4d !important;
}
.bg-nav1 {
  text-align: center;
}
.navbar-toggler-icon {
  font-size: 12px;
}
button.navbar-toggler.collapsed {
  border: 1px solid #fff;
  height: 34px;
}
.navbar-brand {
  font-size: 15px !important;
  font-weight: 700;
}
.nav-link {
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 700;
}
/*Carousal Section */

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px !important;
  }
  .wrap-cont {
    width: 100% !important;
  }
  .img-const,
  .img-const1 {
    width: 100% !important;
  }
  .txt-center {
    text-align: center;
  }
  .service-item-container,
  .ico-container {
    width: 100% !important;
  }
  .service-ico {
    width: 18% !important;
    height: auto !important;
  }
  .img-4 {
    height: 340px !important;
  }
}
.carousel-indicators li {
  width: 6px !important;
  height: 6px !important;
  border-radius: 100%;
}
.size-t3 {
  font-size: 120%;
  font-weight: 600;
  text-transform: uppercase;
}
.color-r1 {
  color: #ff2d2d;
}
.row div {
  margin-top: 5px;
}
.carousel-control-prev-icon {
  position: relative;
  right: 35%;
}
.carousel-control-next-icon {
  position: relative;
  left: 30%;
}
.img-const,
.img-const1 {
  width: 84%;
  height: 260px;
}

.wrap-cont {
  width: 74%;
  margin: 0 auto !important;
}
.changebg {
  background-color: #4d4d4d;
  transition: background-color 1000ms;
}
.img-const:hover {
  transform: scale(0.9);
  transition: 1s;
}
.img-container,
.service-container {
  position: relative;
}
.img-ico {
  position: absolute;
  z-index: 99999;
  color: #ffff;
  top: 50%;
  left: 50%;
  font-size: 7px;
  transform: translate(-50%, -50%);
  display: none;
}
.img-container:hover img {
  opacity: 0.8;
  cursor: pointer;
}
.img-container:hover i {
  display: block;
  z-index: 999999;
}
.divider-ico {
  width: 9%;
  margin-left: 38px;
  height: auto;
}
.size-t5 {
  font-size: 15px;
  font-weight: 600;
}
.size-t5:hover {
  color: #ff2d2d;
  cursor: pointer;
}

.service-item-container {
  width: 75%;
  float: left;
}
.ico-container {
  width: 25%;
  float: left;
}
.service-ico {
  width: 100%;
  padding-right: 8px;
  height: 60px;
}
.progress {
  height: 7px !important;
}
.progress-bar {
  margin: 0px !important;
}
.progress-wrap {
  text-align: right;
}
.fl-left {
  float: left;
}
.progress-text {
  font-size: 70%;
  font-weight: 600;
  text-transform: uppercase;
}
.size-t6 {
  font-size: 100%;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.set-bg {
  background: linear-gradient(rgb(255, 0, 0), rgba(238, 33, 33, 0.82)),
    url(../images/bg6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.set-padding {
  padding: 88px 0;
}
.quote-icon {
  font-size: 9px;
  position: relative;
  top: -10px;
  margin: 5px;
}
.img-4 {
  width: 100%;
  height: 320px;
}
.pos-rel {
  position: relative;
}
.text-wrap {
  position: absolute;
  top: 78%;
  z-index: 9999;
  left: 43px;
  text-align: left;
  display: grid;
  visibility: hidden;
}
.size-t41 {
  font-size: 83%;
  font-weight: 700;
}
.pos-rel:hover .text-wrap {
  visibility: visible;
}
.pos-rel:hover img {
  cursor: pointer;
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.pos-rel {
  background: rgba(0, 0, 0, 0.5);
}
.f1 {
  top: 35%;
  left: 141px;
}
.f1-text {
  background: black;
  padding: 2px;
}
span.size-t4.f1-text.text-light {
  width: 104px;
}
