/* Common Rules */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
}
html {
  font-size: 17px;
}
button:focus {
  outline-style: none !important;
}
textarea:focus {
  outline-style: none !important;
}
body {
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
  letter-spacing: 0.5px;
  font-weight: 100;
}
.bg-danger {
  background: #ff0000 !important;
}
.container-wrap {
  width: 80%;
  margin: 0 auto !important;
}
p {
  margin: 0 !important;
}
/* Header Section */

header {
  font-size: 11px;
}
.navbar {
  border-bottom: 0.01em solid #858585;
}

.nav-link:hover {
  color: #ff2d2d !important;
}

/*Carousal*/
.number-txt {
  position: relative;
  top: -9px;
  right: 5px;
}
.carousel-item {
  height: 100vh !important;
}
.carousal-img {
  width: 100%;
  height: 100vh;
}
.carousel-caption {
  top: 32% !important;
}

.size-t1 {
  font-size: 250%;
  font-weight: 600;
  text-transform: uppercase;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 9px !important;
  height: 15px !important;
}

.size-t4 {
  font-size: 65%;
}

.learn-more {
  font-size: 50%;
  padding: 8px;
  font-weight: 600;
  margin-top: 22px;
  background: #ff2d2d;
  color: #ffff;
  border: 2px solid #ff2d2d;
  width: 100px;
  border-radius: 20px;
  text-transform: uppercase;
}

.bg-nav {
  background: #4d4d4d !important;
}
.bg-nav1 {
  text-align: center;
}
.navbar-toggler-icon {
  font-size: 12px;
}
button.navbar-toggler.collapsed {
  border: 1px solid #fff;
  height: 34px;
}
.navbar-brand {
  font-size: 15px !important;
  font-weight: 700;
}
.nav-link {
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 700;
}
/*Carousal Section */

.carousel-indicators li {
  width: 6px !important;
  height: 6px !important;
  border-radius: 100%;
}
.size-t3 {
  font-size: 141%;
  font-weight: 600;
  text-transform: uppercase;
}
.color-r1 {
  color: #ff2d2d;
}
.row div {
  margin-top: 5px;
}
.carousel-control-prev-icon {
  position: relative;
  right: 35%;
}
.carousel-control-next-icon {
  position: relative;
  left: 30%;
}
.img-const {
  width: 84%;
  height: 260px;
}
.img-const1 {
  width: 100%;
  height: 214px;
}

.wrap-cont {
  width: 74%;
  margin: 0 auto !important;
}
.changebg {
  background-color: #4d4d4d;
  transition: background-color 1000ms;
}
.img-const:hover {
  transform: scale(0.9);
  transition: 1s;
}
.img-container,
.service-container {
  position: relative;
}
.img-ico {
  position: absolute;
  z-index: 99999;
  color: #ffff;
  top: 50%;
  left: 50%;
  font-size: 7px;
  transform: translate(-50%, -50%);
  display: none;
}
.img-container:hover img {
  -webkit-filter: brightness(80%);

  cursor: pointer;
}
.img-container:hover i {
  display: block;
  z-index: 999999;
}
.divider-ico {
  width: 5%;
  margin-left: 24px;
  height: auto;
}
.size-t5 {
  font-size: 15px;
  font-weight: 600;
}
.size-t5:hover {
  color: #ff2d2d;
  cursor: pointer;
}

.service-item-container {
  width: 75%;
  float: left;
}
.ico-container {
  width: 25%;
  float: left;
}
.service-ico {
  width: 100%;
  padding-right: 8px;
  height: auto;
}
.progress {
  height: 7px !important;
}
.progress-bar {
  margin: 0px !important;
}
.progress-wrap {
  text-align: right;
}
.fl-left {
  float: left;
}
.progress-text {
  font-size: 70%;
  font-weight: 600;
  text-transform: uppercase;
}
.size-t6 {
  font-size: 90%;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.size-t61 {
  font-size: 90%;
  font-weight: 700;
  padding-bottom: 10px;
}

.set-bg {
  background: linear-gradient(rgb(255, 0, 0), rgba(238, 33, 33, 0.82)),
    url(../images/bg6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.set-bg1 {
  background: url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.set-padding {
  padding: 88px 0;
}

.img-4 {
  width: 100%;
  height: 320px;
}
.pos-rel {
  position: relative;
}
.text-wrap {
  position: absolute;
  top: 78%;
  z-index: 99;
  left: 43px;
  text-align: left;
  display: grid;
  visibility: hidden;
}
.size-t41 {
  font-size: 90%;
  font-weight: 700;
  letter-spacing: 1px;
}
.pos-rel:hover .text-wrap {
  visibility: visible;
}
.pos-rel:hover img {
  cursor: pointer;
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.pos-rel {
  background: rgba(0, 0, 0, 0.5);
}
.f1 {
  top: 35%;
  left: 141px;
}
.f1-text {
  background: black;
  padding: 2px;
}
span.size-t4.f1-text.text-light {
  width: 104px;
}
.contact {
  font-size: 10px;
  padding: 9px;
  letter-spacing: 1px;
  background: #fff;
  border: 1px solid #f31d04;
  border-radius: 17px;
  color: #f31d04;
  font-weight: 600;
}
.category-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.category-container div {
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn1 {
  padding: 7px;
  font-weight: 700;
  width: 100px;
  border: 1px solid red;
}

.border-l {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.border-r {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-left: -6px;
}

.monthly {
  background: #f31d04;
  color: #ffff;
}

.yearly {
  background: #fff;
  color: #f31d04;
}
.bookmark {
  position: relative;
  left: 44%;
  margin-bottom: 15px;
  width: 23px;
  height: 26px;
  top: -27px;
}
.size-t7 {
  font-size: 31px;
  letter-spacing: 0px;
  font-weight: 900;
}
.contact.font-small {
  width: 137px;
}
.plan-progress {
  margin: 0px !important;
  height: 3px !important;
}

.bookmark-icon {
  position: relative;
  left: 46%;
  top: -29px;
  font-size: 41px;
}
.plan-cat-wrap {
  text-align: left;
  padding-top: 20px;
  padding-left: 43px;
}
.contact-us {
  background: #fff;
  position: relative;
  color: #f31d04;
  padding: 9px;
  border: 2px solid #f31d04;
  width: 126px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 18px;
  letter-spacing: 1.2px;
  top: -2px;
  left: 67px;
}
.img-ico1 {
  position: absolute;
  z-index: 9999;
  top: 27%;
  font-size: 9px;
  left: 50%;
  color: #ffff;
  /* visibility: hidden; */
  display: none;
}
input {
  outline: 0;
}

button {
  outline: 0;
}
button:focus {
  outline: none;
}
.twitter-ico {
  font-size: 36px;
  color: #ffff;
}

.lh-2 {
  line-height: 2;
}
.font-bold {
  font-weight: 700;
}
.quote-icon {
  font-size: 8px;
  position: relative;
  top: -9px;
}
.wrap-cont1 {
  width: 43%;
  margin: 0 auto;
  line-height: 2;
}
.contact-inp {
  width: 95%;
  font-size: 12px;
  padding: 11px;
  border: none;
  background: none;
}

.contact-inp:hover {
  cursor: pointer;
  background: #e8d5d159;
}
.contact-textarea:hover {
  cursor: pointer;
  background: #e8d5d159;
}
.contact-textarea {
  font-size: 12px;
  padding-top: 9px;
  height: 235px;
  resize: none;
  border: none;
  background: none;
  width: 95%;
  padding-left: 17px;
}
.map-img {
  width: 100%;
  height: auto;
}
footer {
  background: black;
}
.subscribe-inp {
  padding: 11px;
  border: none;
  width: 60%;
}
.subscribe {
  padding: 11px;
  color: #ffff;
  background: #f31d04;
  border-top-right-radius: 13px;
  border: none;
  border-bottom-right-radius: 13px;
  width: 138px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px !important;
  }
  .wrap-cont {
    width: 100%;
  }
  .img-const,
  .img-const1 {
    width: 100% !important;
    height: 260px;
  }
  .txt-center {
    text-align: center;
  }
  .service-item-container,
  .ico-container {
    width: 100%;
  }
  .service-ico {
    width: 18%;
    height: auto;
  }
  .img-4 {
    height: 390px;
  }
  .divider-ico {
    width: 17%;
  }
  .img-ico1 {
    top: 35%;
  }
  .wrap-cont1 {
    width: 100%;
  }
  .text-resize {
    padding-left: 56px;
    padding-right: 56px;
  }
  .contact-us {
    position: unset;
    margin: 9px;
  }
  .contact-textarea {
    width: 94%;
  }
}
